.about-us {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

/* Carousel Section */
/* .carousel-about {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
} */

.carousel-container {
  width: 100%;
  height: 100%;
}

/* .carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Content Section Styling */
.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.content-section.reverse {
  flex-direction: row-reverse;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.left-text, .right-text {
  width: 48%;
  color: #333;
}

.left-text h2, .right-text h2 {
  font-size: 2rem;
  color: #1a4986;
  margin-bottom: 20px;
}

.left-text p, .right-text p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.7;
}

.left-image, .right-image {
  width: 48%;
}

.left-image img,
.right-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.left-image img:hover,
.right-image img:hover {
  transform: scale(1.05);
}

/* Responsive Images */
.responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
    padding: 30px 15px;
  }

  .content-container {
    flex-direction: column;
  }

  .left-text, .right-text,
  .left-image, .right-image {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .left-text h2, .right-text h2 {
    font-size: 1.5rem;
  }

  .left-text p, .right-text p {
    font-size: 1rem;
  }

  

  .carousel-image img {
    height: 100%;
  }
}
.carousel-about {
  position: relative;
  width: 100%;
 
  overflow: hidden;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
